* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
    --main-txt-color: white;
    --main-bg-color: #e80f0e;
    --mian-bold-weight: 900;
    --main-card-color: #cfcfcf;
  }

.border{
    border: 1px solid var(--main-card-color);
    border-radius: 10px;
}

.padding{
    padding: 1.5rem 8rem;
}
.padding2{
    padding: 1rem 2rem;
}


h1{
    font-size: 30px;
}

h2{
    font-size: 24px;
}

h3{
    font-size: 20px;
}

.defaultBtn{
    display: inline-block;
    padding: 0 37px;
    height: 45px;
    color: var(--main-txt-color);
    background: var(--main-bg-color);
    font-weight: var(--mian-bold-weight);
    line-height: 42px;
    text-align: center;
    border-radius: 5px;
    border: none;
    width: 100%;
    cursor: pointer;
}

.reset{
    margin-top: 2rem;
}



.offScreenMenu {
    background: url(https://restaurant.stepprojects.ge/images/2.jpg);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    background-position: bottom;
    background-size: cover;
    z-index: 100;
    visibility: hidden;
}
.offScreenMenu ul{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    gap: 2rem;
}
.offScreenMenu ul img{
    width: 10rem;
}

.hamburger{
    z-index: 1000;
}

.hamburgerClose{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.offScreenMenu:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;  
    background: rgba(254, 220, 42, 0.8); 
    z-index: -1; 
    transform: skew(-14deg) translateX(0);
    width: 65%;
}



header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent; 
    z-index: 10;
    padding: 1.5rem 8rem;
}

header nav{
    display: flex;
    
}

.desktopHeadDiv{
    display: flex;
    gap: 4rem;
}

.respHeadDiv{
    display: none;
}

header nav a{
    cursor: pointer;
    color: var(--main-txt-color);
}


.bannerDiv{
    background: url(https://restaurant.stepprojects.ge/images/inner_banner.jpg) no-repeat;
    background-position: top;
    background-attachment: fixed;
    height: 389px;
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    overflow-x: clip;
    overflow-y: visible;
}

.bannerDiv .mainPitch{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    color: var(--main-txt-color);
}

.bannerDiv .categoriesDiv h1{
    color: black;
}



/* cards */

.menuSection{
    display: flex;
    justify-content: center;
    text-align: center;
}
.menuSection .categoriesTxt h1{
    font-size: 34px;
}

.categoriesDiv{
    display: flex;
    gap: 1.5rem;
    margin-top: 3rem;
    position: relative;
    height: 3.5rem;
    flex-wrap: wrap;
}
.categoriesDiv:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    background: url(https://restaurant.stepprojects.ge/images/border.png);
    background-repeat: repeat-x;
    height: 6px;
    width: auto;
    margin: auto;
}




.categoriesDiv a{
    font-size: 20px;
}
.cardsParent{
    display: flex;
    margin-top: 5rem;
    gap: 2rem;
}


.cardsDiv{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    width: 100%;
}

.cardsDiv .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 18rem;
}

.cardsDiv .card .nutsVegDiv, .priceCartDiv, .spiceDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0; 
}

.spiceDiv{
    flex-direction: column;
}

.cardsDiv .card img{
    max-width: 16rem;
}

.cardsDiv .card h3, p, a{
    color: black;
}

.cardsDiv .card a{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: url(https://restaurant.stepprojects.ge/images/bt_border.png) no-repeat;
    background-size: 6.5rem;
    width: 6.5rem;
    height: 2.5rem;
}


/* Filter */


.filterDiv{
    display: flex;
    flex-direction: column;
    min-width: 15rem;
    max-height: 25rem;
    
}

.filterContent{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1rem;
}


.filterDiv .filterTxt{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 2rem;
}


.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 0.4rem; /* Specified height */
    background: var(--main-bg-color); /* Grey background */
    outline: none; 
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 1.5rem; /* Set a specific slider handle width */
    height: 1.5rem; /* Slider handle height */
    background: white; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 25px;
    border: 1px solid red;
}

/* Cart Page */



.cartTxt{
    display: flex;
    align-items: center;
    height: 10rem;
}
.cartTxt h1{
    font-size: 34px;
}


.breadcrumDiv{
    background-color: red;
    height: auto;
}

.breadcrumDiv .main_breadcrum{
    display: flex;
    margin-top: -1px;
    align-items: center;
}


.breadcrumDiv .main_breadcrum ul{
    display: flex;
    height: 3rem;
    margin-left: 8rem;
    gap: 1rem;
    align-items: center;
    padding-bottom: 5px;
}
.trans{
    color: white;
    font-weight: 500;
}
.breadcrumDiv ul li:last-child{
    color: #ffcc00;
    margin-left: -10px;
    font-weight: 500;
}



table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

td img {
    vertical-align: middle;
    margin-right: 8px;
    width:150px;
}

.quantityDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.quantityDiv button{
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    border: 1px solid gray;
}

td{
    min-width: 10rem;
}

.productTd{
    display: flex;
    align-items: center;
}
.imgP{
    display: flex;
    align-items: center;
}

td a{
    margin-right: 1rem;
}

td:first-child{
    text-align: left;
}

.sumDiv{
    display: flex;
    justify-content: end;
    padding-right: 15rem;
}

.sumDiv .sumH1{
    font-size: 26px;
    
}
.sumDiv .sumH1 span{
    color: red;
    
}


/* responsive */


@media screen and (max-width: 1313px) {
    .categoriesDiv:after {
        bottom: -30px;
    }


    table {
        width: 80%;
        border-collapse: collapse;
        margin: 0 auto;
    }
    
    th, td {
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }
    
    td img {
        vertical-align: middle;
        margin-right: 8px;
        width: 80px;
    }

    
    .quantityDiv{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }
    table h3{
        font-size: 1rem;
    }
    .quantityDiv button{
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 0.6rem;
    }
    
    td{
        min-width: 10rem;
    }
    
    td a{
        margin-right: 1rem;
    }
    
    td:first-child{
        text-align: left;
    }
    
    .sumDiv{
        display: flex;
        justify-content: end;
        padding-right: 15rem;
    }
    
    .sumDiv .sumH1{
        font-size: 20px;
        
    }
    .sumDiv .sumH1 span{
        color: red;
        
    }

    .imgP{
        flex-direction: column;
    }
    
    .sumDiv{
        padding-right: 5rem;
    }

}
@media screen and (max-width: 821px) {

    header{
        padding: 2rem 3rem;
    }
    
    .categoriesDiv{
        display: flex;
        gap: 1.5rem;
        margin-top: 3rem;
        position: relative;
        height: 3.5rem;
        flex-wrap: wrap;
    }
    
    
    .categoriesDiv:after {
        bottom: -80px;
    }


    .cardsParent{
        flex-direction: column;
        align-items: center;
    }

    .filterDiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 15rem;
        width: 35%;
        max-height: 25rem;
        margin-top: 2rem;
        
    }

    .filterContent{
        display: flex;
        padding: 1rem;
        width: 80%;
    }



}
@media screen and (max-width: 659px) {

    .desktopHeadDiv{
        display: none;
    }

    .respHeadDiv{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }

    .menuSection{
        padding: 1rem 5rem;
    }
    
    .categoriesDiv{
        display: flex;
        gap: 1.5rem;
        margin-top: 3rem;
        position: relative;
        height: 3.5rem;
        flex-wrap: wrap;
    }
    
    
    .categoriesDiv:after {
        bottom: -130px;
    }

    .filterDiv{
        margin-top: 5rem;
        
    }


    table {
        width: 100%;
        border-collapse: collapse;
        margin: 0;
    }
    
    th, td {
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }
    
    td img {
        vertical-align: middle;
        margin-right: 8px;
        width: 50px;
    }

    
    .quantityDiv{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }
    table h3{
        font-size: 0.7rem;
    }
    .quantityDiv button{
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 0.6rem;
    }
    
    td{
        min-width: 5rem;
    }
    
    td a{
        margin-right: 1rem;
    }
    
    td:first-child{
        text-align: left;
    }


    
    

}
@media screen and (max-width: 475px) {


    .menuSection{
        padding: 1rem 5rem;
    }
    
    .categoriesDiv{
        display: flex;
        gap: 1.5rem;
        margin-top: 3rem;
        position: relative;
        height: 3.5rem;
        flex-wrap: wrap;
    }
    
    
    .categoriesDiv:after {
        bottom: -200px;
    }

    .filterDiv{
        margin-top: 9rem;
        
    }





}