* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
    --main-txt-color: white;
    --main-bg-color: #e80f0e;
    --mian-bold-weight: 900;
    --main-card-color: #cfcfcf;
  }

.border{
    border: 1px solid var(--main-card-color);
    border-radius: 10px;
}

.padding{
    padding: 1.5rem 8rem;
}
.padding2{
    padding: 1rem 2rem;
}


h1{
    font-size: 30px;
}

h2{
    font-size: 24px;
}

h3{
    font-size: 20px;
}

.defaultBtn{
    display: inline-block;
    padding: 0 37px;
    height: 45px;
    color: var(--main-txt-color);
    background: var(--main-bg-color);
    font-weight: var(--mian-bold-weight);
    line-height: 42px;
    text-align: center;
    border-radius: 5px;
    border: none;
    width: 100%;
}

.reset{
    margin-top: 2rem;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent; 
    z-index: 10;
    padding: 1.5rem 8rem;
}

header nav{
    display: flex;
    gap: 4rem;
}

header nav a{
    cursor: pointer;
    color: var(--main-txt-color);
}


.bannerDiv{
    background: url(https://restaurant.stepprojects.ge/images/inner_banner.jpg) no-repeat;
    background-position: top;
    background-attachment: fixed;
    height: 389px;
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    overflow-x: clip;
    overflow-y: visible;
}

.bannerDiv .mainPitch{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    color: var(--main-txt-color);
}

.bannerDiv .categoriesDiv h1{
    color: black;
}



/* cards */

.menuSection{
    display: flex;
    justify-content: center;
    text-align: center;
}
.menuSection .categoriesTxt h1{
    font-size: 34px;
}

.categoriesDiv{
    display: flex;
    gap: 1.5rem;
    margin-top: 3rem;
    position: relative;
    height: 3.5rem;
}
.categoriesDiv:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    background: url(https://restaurant.stepprojects.ge/images/border.png);
    background-repeat: repeat-x;
    height: 6px;
    width: auto;
    margin: auto;
}


.categoriesDiv a{
    font-size: 20px;
}
.cardsParent{
    display: flex;
    margin-top: 5rem;
    gap: 2rem;
}


.cardsDiv{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}

.cardsDiv .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 18rem;
}

.cardsDiv .card .nutsVegDiv, .priceCartDiv, .spiceDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0; 
}

.cardsDiv .card img{
    max-width: 16rem;
}

.cardsDiv .card h3, p, a{
    color: black;
}

.cardsDiv .card a{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: url(https://restaurant.stepprojects.ge/images/bt_border.png) no-repeat;
    background-size: 6.5rem;
    width: 6.5rem;
    height: 2.5rem;
}


/* Filter */


.filterDiv{
    display: flex;
    flex-direction: column;
    min-width: 15rem;
    max-height: 25rem;
    
}

.filterContent{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1rem;
}


.filterDiv .filterTxt{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 2rem;
}


.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 0.4rem; /* Specified height */
    background: var(--main-bg-color); /* Grey background */
    outline: none; 
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 1.5rem; /* Set a specific slider handle width */
    height: 1.5rem; /* Slider handle height */
    background: white; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 25px;
    border: 1px solid red;
  }
  


